<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>My blog</title>
</head>
<body>
    <header>
        <h1 class="h1title">MY BLOG</h1>
        <p class="ptitle">  Welcome to the blog of <span>unknowm</span></p>
    </header>
    
    <div class="divfundao">
        <div class="div1">
           <section class="bloco">
               <img src="./img/grecia.jpg" alt="Grécia" class="imgtot">
               <h2>TITLE HEADING</h2>
               <p class="pdata">Title description, April 7, 2014</p><br>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                   Modi illum voluptate inventore expedita dolorem in, sint 
                   cum ullam omnis maiores. Expedita, qui numquam! Excepturi 
                   nemo repellendus pariatur dolores est enim!
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                   Modi illum voluptate inventore expedita dolorem in, sint 
                   cum ullam omnis maiores.</p>
                
                <a href="exe.html" a:hover class="abord">READ MORE>></a>
                <p class="pcoment">Coments <span>0</span></p>
           </section>
           <article class="bloco">
               <img src="./img/escr.jpg" alt="Escrita" class="imgtot">
               <h2>BLOG ENTRY</h2>
               <p class="pdata">Title description, April 2, 2014</p><br>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                   Modi illum voluptate inventore expedita dolorem in, sint 
                   cum ullam omnis maiores. Expedita, qui numquam! Excepturi 
                   nemo repellendus pariatur dolores est enim!
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                   Modi illum voluptate inventore expedita dolorem in, sint 
                   cum ullam omnis maiores.</p>
                   
                <a href="exe.html" a:hover class="abord">READ MORE>></a>
                <p class="pcoment">Coments <span>2</span></p>
           </article>
        </div>
        <div class="div2">
            <div class="div21 bloco">
                <img src="./img/eu.jpg" alt="Eu" class="imgsprin">
                <h2>MY NAME</h2>
                <p class="pEu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Modi illum voluptate inventore expedita dolorem in, sint 
                    cum ullam omnis maiores. Expedita, qui numquam!</p>
            </div>
            <div class="div22 bloco">
                <div class="pdivposts">Popular posts</div>
                <div class="lorem">
                    <div class="imgsp"><img src="./img/lorem.jpg" alt="lorem"></div>
                    <div class="textp">
                        <p class="textptitle">Lorem</p>
                        <p class="textplinha">Sed mattis nunc</p>
                    </div>
                </div>
                <div class="ipsum">
                    <div class="imgsp"><img src="./img/ipsum.jpg" alt="ipsum"></div>
                    <div class="textp">
                        <p class="textptitle">Ipsum</p>
                        <p class="textplinha">Praes tinci sed</p>
                    </div>
                </div>
                <div class="dorum">
                    <div class="imgsp"><img src="./img/dorum.jpg" alt="dorum"></div>
                    <div class="textp">
                        <p class="textptitle">Dorum</p>
                        <p class="textplinha">Ultricies congue</p>
                    </div>
                </div>
                <div class="mingsum">
                    <div class="imgsp"><img src="./img/mingsum.jpg" alt="mingsum"></div>
                    <div class="textp">
                        <p class="textptitle">Mingsum</p>
                        <p class="textplinha">Lorem ipsum dipsum</p>
                    </div>
                </div>
            </div>
            <div class="div23 bloco">
                <div class="title">
                    Tags
                </div>
                <div class="links">
                    <br>
                    <span class="spanpreto">Travel</span>
                    <span class="spancinza">New York</span>
                    <span class="spancinza">London</span>  
                    <span class="spancinza">IKEA</span>
                    <span class="spancinza">NORWAY</span>
                    <span class="spancinza">DIY</span><br><br><br>
                    <span class="spancinza">Ideas</span>
                    <span class="spancinza">Baby</span>
                    <span class="spancinza">Family</span>
                    <span class="spancinza">News</span>
                    <span class="spancinza">Clothing</span>
                    <span class="spancinza">Shopping</span><br><br><br>
                    <span class="spancinza">Sports</span>
                    <span class="spancinza">Games</span>
                </div>
            </div>
        </div>
    </div>

    <footer class="pfooter">
        <button class="button1">Previous</button>
        <button class="button2">Next</button><br>
        <p>
            Powered by
            <a href="exe.html" target="_blank">aya!</a>
        </p>
    </footer>
</body>
</html>