body{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-attachment: scroll;
}

p{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 14px;

}

.divfundo{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 8px;
    padding-bottom: 10px;
}

hr{
    width: 90%;
}

font{
    color: silver;
}

.divtable{
    background-color: rgba(194, 34, 34, 0.6);
    align-items: center;
    margin-left: 260px;
    margin-right: 260px;
    border-radius: 8px;
    
}

td, th{
    text-align: center;
    font-size: 12px;
    padding-left: 20px;
}

.parath{
    font-size: 14px;
}

.tdperson{
    padding-left: 38px;
}